/* Prevent the page from being scrollable */
html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    padding: 20px; /* Add padding to the container */
}

.left-section, .right-section {
    flex: 1;
    overflow: hidden; /* Hide overflow content */
    display: flex;
    flex-direction: column;
    padding: 0 10px; /* Add padding to the sections */
}

.left-section {
    overflow-x: auto; /* Enable horizontal scrolling */
}

.divider {
    width: 1px;
}

.editor-container {
    flex-grow: 1;
    overflow: auto;
}

.button-container {
    position: sticky;
    bottom: 0;
    background-color: white; /* Ensure background color matches the page */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.btn {
    margin: 5px;
}