/* Prevent the page from being scrollable */
html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    padding: 20px; /* Add padding to the container */
}

.left-section, .right-section {
    flex: 1;
    overflow: hidden; /* Hide overflow content */
    display: flex;
    flex-direction: column;
    padding: 0 10px; /* Add padding to the sections */
}

.left-section {
    overflow-x: auto; /* Enable horizontal scrolling */
}

.divider {
    width: 1px;
}

.editor-container {
    flex-grow: 1;
    overflow: auto;
}

.button-container {
    position: sticky;
    bottom: 0;
    background-color: white; /* Ensure background color matches the page */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.btn {
    margin: 5px;
}

.page-header {
    padding: 10px 20px; /* Add left and right padding to match the code block */
    background-color: #b11e84;
    color: white;
    text-align: center;
}

.btn {
    background-color: #b11e84;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    text-align: center;
}

.file-dropdown {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}