/* solve.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Apply Roboto font to all elements */
}

.page-header {
    padding: 10px 20px; /* Add left and right padding to match the code block */
    background-color: #b11e84;
    color: white;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
}

.navbar button {
    background-color: #fff;
    color: #b11e84;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.navbar button:hover {
    background-color: #f0f0f0;
}

.container {
  display: flex;
  height: calc(100vh - 60px); /* Adjust height to account for header */
}

.left-section, .right-section {
  flex: 1;
  padding: 20px;
}

.divider {
  width: 1px;
  background-color: #ccc;
}

.file-dropdown {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #b11e84;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: #a11b74;
}